@charset "utf-8";
/* CSS Document */
.containermain{
	width: auto;
	height: auto;
}
header{
	width: 99%;
	height: 50px;
	background-color: white;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.5);
	margin-top: -8px;
	position: fixed;
}
.logo{
	float: left;
}
.logo img{
	width: 150px;
	margin-top: 20px;
	margin-left: 10px;
}
.menu{
	font-size: 20px;   
	float: left;
}
.menu a{
	color: black;
	font-weight: bold;
	line-height: 10px;
	margin-left: 60px;
	margin-top: 20px;
	text-decoration: none;
	display: inline-block;
}
.menu a:hover{
	 color: #1198C8;
}
.searchmenu{
	float: left;
}
.searchmenu input{
	font-size: 20px;
	width: 300px;
	height: 20px;
	margin: 10px 50px;
}
.logosearch{
	position: absolute;
	top: -1px;
	right: 219px;
}
.logosearch img{
	width: 50px;
}
article{
	width: 100%; 
	height: auto;
	padding-top: 40px;
}
* {
  box-sizing: border-box;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
  margin-top: 30px;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: -40px 450px;
  padding: 0;
  width: 90%;
  max-width: 600px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */


.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
footer{
	    margin-top: 20px;
		width: 100%;
		height: 300px;
		background-color: rgba(187,235,245,0.87);
		clear: both;
	}

footer .footer_left{
	float: left;
	width: 45%;
}
footer .footer_right{
	float: left;
	width: 29%;
	margin-right: 10px;
}
footer .footer_rightright{
	float: left;
	width: 25%;
}
ul{
	list-style-type: none;
}
ul li{
	font-size: 18px;
	margin-top: 10px;
}
.footer_left ul li h2{
	font-family: Consolas, Andale Mono, Lucida Console, Lucida Sans Typewriter, Monaco, Courier New, monospace;
	margin-left: 125px;
	margin-top: -10px;
	font-size: 50px;
}
.logo{
	margin-top: -15px;
	padding-left: 20px;
}

.connect img{
	width: 150px;
	margin-left: 70px;
}
.logofooter{
	position: absolute;
	top: 920px;
	left: 250px;
}
